*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#container {
    width: 100%;
    max-width: 1330px;
    margin: 0px auto;
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    height: 70px;
    background-color: grey;
    padding: 0px 20px;
}

.header .menu{
    list-style: none;
    float: right;
}

.menu li{
    display: inline-block;
    line-height: 70px;

}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 20px;
    transition: .4s;
}

.menu li a:hover,
.show-btn:hover, .hide-btn:hover{
    color: blue;

}

.show-btn, .hide-btn{
    font-size: 20px;
    color: white;
    line-height: 80px;  
    display: none;
}

.show-btn{
    float: right;
    transition: .4s;

}

#check{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}


.banner{
    height: 680px;
    margin-top: 50px;
    background-image: url(../assests/image3.jpg);
    display: flex;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.banner h2{
    margin: 20px 57px;
}

#team{
    width: 100%;
    text-align: center;
    /* padding: 10px;
    display: inline-block; */
    font-size: 40px;
    margin-bottom: 20px;
}

#members{
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


#members .circle{
    width: 20%;
    height: 274px;
    background-image: url(../assests/avatar1.png);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#aboutus h2{
    text-align: center;
    font-size: 40px;
}

#about{
    width: 100%;
    height: 65vh;
    display: flex;
}
.rightside{
    width: 50%;
    height: 60vh;
    overflow: hidden;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin: 5px;
    background-color: grey;
}
.leftside{
    width: 50%;
    height: 60vh;
    margin: 5px;
}
.leftside h3{
    text-align: center;
    font-size: 30px;
}
.article{
    width: 100%;
    height: 19vh;
    margin-bottom: 10px;
}
.para1{
    background-image: url(../assests/project1.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.para2{
    background-image: url(../assests/project2.png);
    background-size: cover;
    background-repeat: no-repeat; 
}
.para3{
    background-image: url(../assests/ProjectManagement.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}

#technology {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.boxes {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 20%;
    height: 274px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

.box img {
    width: 100%;
    border-radius: 10px;
    margin-top: -2px;
}

.box p{
    line-height: 20px;
}

.box a {
    width: 100%;
    display: block;
    background-color: rgb(50, 26, 207);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: -2px;
}

a:hover {
    background-color: rgb(168, 157, 236);
}
    
#footer h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
#footer p{
    padding: 10px;
    text-align: center;
    background-color: violet;
    font-size: 20px;
}


@media(max-width: 800px){

    .show-btn, .hide-btn{
        display: block ;
    }

    .menu{
        position: fixed;
        top: 0;
        /* to make Slider Effect */
        right: -100%; 
        width: 100%;
        height: 100vh;
        background-color: #333;
        text-align: center;
        padding: 80px 0px;
        transition: normal;
        line-height: normal;  
        transition: .5s;      
    }

    #check:checked ~ .menu{
        right: 0;
    }
    .menu li{
        display: block;
        padding: 20px 0px;
    }
    .menu li a{
        display: block;
    }

    .hide-btn{
        position: absolute;
        right: 20px;
        top: 2px;
    }
    .banner{
        padding: 20px;
    }

    .banner img{
        width: 100%;
        max-width: 700px;
        display: block;
        max-width: auto;
        margin-bottom: 20px;
    }
    .banner h2{
        text-align: justify;
    }

    /* For Teams */
    #members{
        height: 100vh;
    }

    #members .circle{
        width: 42%;
        height: 274px;
        float: left;
        margin: 16px 19px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        display: block;
    }

    /* From here about us  */
    #about{
        height: 125vh;
        display: inline-block;
    }
    .rightside{
        width: 100%;  
    }
    .leftside{
        width: 100%;
    }

    /* From Here Texhnlology Used  */
    
    #technology{
        width: 100%;
        margin: 15px auto;
    }

    .boxes{
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .box {
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .box img{
        width: 100%;
        border-radius: 10px;
        margin-top: -20px;
    }

    .box a{
        width: 100%;
        border-radius: 10px;
        margin-bottom: -20px;
    }
}
