*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.header h1{
    line-height: 70px;
    color: wheat;
    text-transform: uppercase;
}


.content{
    width: 100%;
    padding: 20px;
}
.content img{
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.content p{
    text-align: justify;
}


.sidebar{
    width: 20%;
    height:100%;
    position: fixed;
    top: 70px;
    background-color: #2f3640;
    left: -100%;
    transition: .5s;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    border-bottom: 2px solid black;
}
.sidebar ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
}

a span {
    margin-right: 10px;
}

.sidebar ul li a:hover{
    border-left: 10px solid white;
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 25px;
    margin-top: 265px;
}

.show-btn, .hide-btn{
    font-size: 40px;
    color: white;
    position: fixed;
    top: 15px;
    left: 30px;
}



.hide-btn{
    opacity: 0;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -100;
}

#chk:checked~.sidebar{
    left: 0;
}
#chk:checked ~ .show-btn{
    opacity: 0;
}
#chk:checked ~ .hide-btn{
   opacity: 1;
}
#chk:checked ~ .main-content{
    width: 80%;
}

@media (max-width:750px){

    .sidebar{
        width: 100%;
        text-align: center;
    }

}